.tickets {
    display: flex;
    flex-direction: column;
}
.ticket{
    background-color: rgb(243,230,255);
    border: 1px dotted darkmagenta;
    padding: 0.7rem;
    margin: 0.5rem 0;  
}
footer{
    border-top: 1px dotted darkmagenta;
    padding-top: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center
}